@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}

section {
  padding-top: 5rem;
}

.np1 {
  overflow: hidden;
  margin: 23px;
  position: fixed;
  padding: 11px;
  border-radius: 40px;
  box-shadow: 0 0px 14px -7px #065158;
  z-index: 4;
}

.np1 a {
  margin-left: 10px;
}

.persona {
  border-radius: 32px;
}

.jumbotron {
  padding-top: 3rem;
  animation: gradiasiwarna 7s infinite;
}

@keyframes gradiasiwarna {
  0% {
    background-color: #a4ffd3;
  }
  25% {
    background-color: #71ffba;
  }
  50% {
    background-color: #53ffac;
  }
  75% {
    background-color: #71ffba;
  }
  100% {
    background-color: #a4ffd3;
  }
}

.brand h1 {
  font-size: 1.89rem;
  text-transform: uppercase;
  color: white;
  cursor: default;
}
.brand1 h1 {
  font-size: 1.5rem;
  color: white;
  cursor: default;
}
.brand h1 span {
  color: crimson;
  cursor: default;
}
.brand1 h1 span {
  color: crimson;
  cursor: default;
}

.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  margin: 5px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
}

/* scroll */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(0, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
